[user]
	name = Takahiro Mitsuoka
	email = mono0423@gmail.com
[core]
	quotepath = false
	autocrlf = false
	safecrlf = true
	ignorecase = false
	excludesfile = /Users/mitsu/.gitignore_global
[http]
	postBuffer = 200M
[credential]
	helper = wincred
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[push]
	default = simple
[alias]
	ac = "!f(){ git add . && git commit -m $1;};f"
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	b = "!f(){ git branch $1 && git switch $1;};f"
	c = commit -am
	ch = checkout
	df = diff --color-words
	drag = pull --rebase
	l = log --oneline --graph
	sw = switch
	st = status --short --branch
	sync = !git pull --rebase && git push
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
